@font-face {
	font-family: 'NEXON Lv1 Gothic OTF';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NEXON Lv2 Gothic';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
	--mono-hue: 208;
	--mono-saturation: 20%;
	--theme-color: #60fcf1;
	--base-font-family: 'NEXON Lv2 Gothic', 'Noto Sans KR', sans-serif;
	--base-letter-spacing: 0.5px;
	--heading-font-family: 'NEXON Lv1 Gothic OTF', 'Noto Sans KR', sans-serif;
	--modular-scale: 1.2;
	--font-size-xxl: var(--modular-scale-5);
	--font-size-xl: var(--modular-scale-3);
	--heading-h1-font-weight: bold;
	--heading-h2-font-weight: bold;
	--heading-h2-margin: 2rem 0 1rem;
	--heading-h2-padding: 10px 0 8px;
	--sidebar-width: 18rem;
	--sidebar-nav-link-before-content-l1: '😊';
	--sidebar-nav-indent: 0.5rem;
}
.markdown-section {padding:4rem 30px 2.5rem}
.sidebar {height:100% !important}
.sidebar .sidebar-nav {padding-bottom:35px}
.sidebar>h1 .app-name-link {font-weight:bold}
.sidebar-nav>ul>li>ul>li>ul>li>a:before {display:none}
.sidebar-nav>ul>li>a,
.sidebar-nav>ul>li>ul>li>a {font-size:15px}
.sidebar-nav>ul>li>ul>li>ul>li>a {padding-left:1rem !important;padding-right:2.2rem !important;font-size:13px}
.sidebar-nav>ul>li>ul>li>ul {margin-bottom:0.7rem;padding:0.5rem 0 0.4rem;background-color:var(--mono-tint1)}
.sidebar .search .matching-post, .sidebar .search .matching-post h2 {font-size:14px !important}
.sidebar .search input:focus {box-shadow:none;color:var(--theme-color);background-color:#1d242b !important}
.markdown-section blockquote {padding:1rem 1.4rem}
.markdown-section th {padding:0.5rem;background-color:var(--mono-tint1)}
.markdown-section th:not([align]) {text-align:center}
.markdown-section td {padding:0.7rem 1.2rem}
.markdown-section p code {white-space:normal !important}
@media screen and (max-width:480px) {
	:root {
		--modular-scale: 1.1;
		--base-font-size: 14px;
		--code-block-padding: 10px;
	}
	.markdown-section {padding:4rem 15px 2.5rem}
	.markdown-section td {text-align:left}
	.sidebar-nav>ul>li>a,
	.sidebar-nav>ul>li>ul>li>a {font-size:13.5px}
	.sidebar-nav>ul>li>ul>li>ul>li>a {font-size:12.5px}
	.sidebar .search .matching-post, .sidebar .search .matching-post h2 {font-size:13px !important}
}